.app-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-button {
    width: 70px; /* Define a largura do botão*/
    height: 70px; /* Define a altura do botão */
    border-radius: 20px;
    border: none;
    background-size: cover; /* Faz com que a imagem cubra todo o botão */
    background-position: center; /* Centraliza a imagem dentro do botão */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out; /* Adiciona um efeito de transição suave */
}

/* Efeito de hover (quando o mouse passa por cima) */
.app-button:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

/* Efeito de clique (transparência ao clicar) */
.app-button:active {
    opacity: 0.6;
}

.app-button-text {
    margin-top: 5px; /* Espaço entre o botão e o texto */
    font-size: 14px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* Adiciona um contorno ao texto para melhor visibilidade */
}
