/* adcione os estilos globais ou para serem importados em varias paginas/componentes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; /* Aplica a fonte Roboto globalmente */
}
